[user]
  name = Julien Levesy
  email = jlevesy@gmail.com
  signingkey = EA231E6082844641
[gpg]
  prograpm = gpg2
[ui]
  color = true
[core]
  whitespace = trailing-space,space-before-tab
[push]
  default = simple
[rerere]
  enabled = true
[grep]
  lineNumber = true
[commit]
  gpgsign = true
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  l = log --pretty='%C(yellow)%h -%Creset %s%Creset' --abbrev-commit --graph
  lg = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lgs = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --stat
  lgsp = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --stat -p
  la = !git l --all
  lga = !git lg --all
  lgsa = !git lgs --all
  lgspa = !git lgsp --all
